@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #efedd6;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  margin: 10px;
}

.box {
  background-color: steelblue;
  color: #fff;
  width: 300px;
  height: 150px;
  margin: 10px;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
}

.box:nth-of-type(2n+4) {
  transform: translateX(-1000px);
}
.box:nth-of-type(2n+5) {
  transform: translateX(1000px);
}

.box.show {
  transform: translateX(0px);
}

.box h2 {
  font-size: 45px;
}