* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
body {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: #3874AB;
}
.container {
    top: 35%;
    position: absolute;
}
.empty {
    width: 160px;
    height: 160px;
    margin: 10px;
    display: inline-block;
    border: 3px #000 solid;
    background-color: #fff;
}
  
.fill {
    top: 0px;
    left: 0px;
    width: 154px;
    height: 154px;
    position: relative;
    cursor: pointer;
    border: 0;
    background-image: url('https://source.unsplash.com/random/150x150');
}

.hold {
    border: solid #ccc 4px;
}

.hovered {
    border-style: dashed;
    background-color: #f4f4f4;
}

.invisible {
    display: none;
}

@media (max-width: 800px) {
    .container {
        top: 5%;
        left: 10%;
    }
}